.title {
    margin-bottom: 6px;
    margin-left: 20px;
    padding-top: 20px;
}
.part {
    margin-top: 28px;
    margin-right: 20px;
    margin-left: 20px;
}

.display {
    opacity: 1.0;
    margin-top: 8px;
    border-radius: 10px;
    min-width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
